body{
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #121212;
    background-image: url("/img/bg.png");
    background-size: 200px 200px;
}

*,
*:before,
*::after{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

h4{
    color: orange;
}

.page{
    width: 1000px;
    margin: 20px auto;
    background-color: #fff;
}

.container{
    display: flex;
}

/* Header */

.header{
    padding: 20px;
    background-color: #121212;
}

.header-title{
    margin: 0;

    font-size: 24px;
    color: #fff;
    text-align: center;
}

.header-subtitle{
    margin: 0;

    font-size: 16px;
    color: rgb(0, 217, 255);
    text-align: center;
    font-weight: normal;
}

/* Navigation */
.nav{
    text-align: center;
    display: flex;
    justify-content: center;
}

.nav-link{
    padding: 8px 12px;
    text-decoration: none;
    color: #121212;
    transition: background-color 0.2s linear;
}



.nav-link:hover{
    background-color: darkgrey;
}

/* Content */

.intro-img{
    opacity: 0.8;
    background-color: #222;
    transition: opacity 0.2s linear;
}

.intro-img:hover{
    opacity: 1;
    
}

.content{
    width: 800px;
    padding:  0 20px;
}

.image{
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
    background: linear-gradient(to bottom,#fff,#eee);
}

.content-title{
    margin: 0 0 15px;
    font-size: 24px;
    color: #0faf31;
}

.content-text{
    margin: 0 0 20px 0;
}

/* read-more */

.read-more{
    color: rgb(43, 118, 187);
    text-decoration: none;
}

.read-more:hover{
    text-decoration: underline;
}

/* Sidebar */

.sidebar{
    width: 200px;
    background-color: #eee;
    padding: 10px;
}

.name{
    text-align: center;
    font-style: italic;
    font-weight: 700;
    text-decoration: underline;
    color: navy;
}

.author{
    color: #0faf31;
    margin: 20px 10px;
}

.sidebar-title{
    color: #e33;
    margin-bottom: 20px;
}
.source{
    font-size: 11px;
    font-weight: bold;
    text-decoration: underline;
    color: green;
}

/* Article */

.article{
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.article-title{
    margin: 0 0 5px 0;
    
    color: darkslateblue;
    font-size: 18px;
    
}

.article-title a{    
    color: inherit;
    text-decoration: none;
}

.article-title a:hover{
    text-decoration: underline;
}

.article-date{  
    display: block;
    font-size: 12px;
    color: dimgray;
}

.code{
    margin: 10px 20px;
}

.code p{
    margin: 0px;
    font-family: monospace;
    color: rgb(87, 101, 119);
}

/* Footer */

.footer{
    padding: 20px;
    background-color: #121212;
    color:slategray;
    text-align: center;
}







